<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone Directory</title>
  {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <script>
    document.getElementById('name').innerHTML = document.getElementsByName('name').values().toString();
</script>
</head>
<body>
    <section class="navigation">
  <div class="nav-container">
    <div class="back">
      <a href="/"><img src="{% static 'img/back.png' %}"  height="42" width="42" alt="" /></a>
    </div>
    <div class="brand">
      <a href="#">Add Subscriber</a>
    </div>
  </div>
    </section>
<br><br><br>

<form action="addsubscriber" method="post">
{% csrf_token %}
  Name: <input type="text" id="name" name="name" />
    <br><br>
  Number: <input type="number" id="number" name="number"/>
    <br><br>
  <br>
  <input type="submit" value="Add" name="button" class="button"/> <input type="reset" class="button">
</form>

</body>
{#    <script>#}
{#    document.getElementById('name').innerHTML = "hh";#}
{#</script>#}
</html>